  {% include nav.html %}

    <!-- Header -->
    <header class="parallax">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Velkommen til Den Danske Skole!</div>
                <div class="intro-heading">Savner du at tale dansk?</div>
                <a href="#services" class="page-scroll btn btn-xl">Ja, da! Fortæl mere…</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

