<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Om os</h2>
                    <h3 class="section-subheading text-muted">Meningen med Den Danske Skole er at give familier med dansk baggrund mulighed for at mødes med ligesindede i hyggelige og lærerige rammer.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. Oktober 2010</h4>
                                    <h4 class="subheading">Den Danske Skole slår dørene op for det første hold elever.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sabine Jensen har organiseret en sammentræf af nysgerrige forældre. Fra starten var der allerede 35 børn og 3 klasser. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Kort efter…</h4>
                                    <h4 class="subheading">Rigtige klasser i Comenius Skole</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comenius Skolen i Pasing giver husly. Nu har vi rigtige klasseværelser, have med legeplads og en sportsal.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December</h4>
                                    <h4 class="subheading">Jul i danskskolen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nu er det jul igen! Med pebernødder, gamle nissefar, rissengrød og dans rundt om juletræet!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Februar</h4>
                                    <h4 class="subheading">Fastelavn</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Det kender man også i Tyskland. Men slå katten af tønden, det kender de ikke til!</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Juni</h4>
                                    <h4 class="subheading">Sankt Hans</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vi er udenfor, der er bål, vi laver snobrød og griller pølser. Der er mad til alle og mere.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Vær med - 
                                    <br>Vi glæder
                                    <br>os!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
