<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Om os</h2>
                    <h3 class="section-subheading text-muted">Meningen med Den Danske Skole er at give familier med dansk baggrund mulighed for at mødes med ligesindede i hyggelige og lærerige rammer.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="section-heading">Hvem er vi og hvad laver vi?</h3>
                    <p class="description">Vores forening Den Danske Skole er drevet af danske forældre i München som gerne vil give deres børn en sund portion dansk kultur, undervisning og sjov på dansk. Vi ser det, som vores primære opgave, at lære vores herboende børn det danske sprog, fortælle om historie, kultur og selvfølgelig holde ekstra godt fast om de danske traditioner i løbet af året.
                    </p>
                    <p>
                        Der er undervisning 16-17 lørdage om året, hvor børnene får 3 undervisnings timer sammen med andre danske børn på deres egen alder. Derudover synger vi morgensang og laver udflugter.  Lige nu er der ca. 40 børn i forskellige aldre fra 1 år til 12 år. 
                    </p>
                    <h3 class="section-heading">Hvor meget?</h3> 
                    <p>For at børnene kan deltage i undervisningen, skal I være medlem af foreningen Den Danske Skole e.V. Det koster 65 € årligt at være medlem per familie. Undervisningen koster 25 € per barn/måned (5 € per barn/ måned i minigruppen). Man forpligter sig til et års medlemskab. </p>


                </div>
                <div class="col-lg-6">

                    <h3 class="section-heading">Hvordan underviser vi? </h3>

                    <p>Det er vigtigt, at det er sjovt for børnene at gå i Den Danske Skole, så de ikke føler sig presset til at skulle præstere en masse, som i den "rigtige" skole. Vi har derfor fravalgt at give dem lektier for og de får heller ikke karakterer. Omgangstonen er uformel og vi har en afslappet, men konstruktiv tilgang til indlæring. De opgaver, som børnene stilles, laves udelukkende i skoletimerne om lørdagen. Børnene lærer noget om Danmark, samtidig med at vi målrettet forsøger at stimulere og aktivere deres dansk ved at bringe dem sammen med andre danske børn.</p>
                    <h3 class="section-heading">Hvad forventer vi?</h3> 
                    <p>Det er ikke nogen forudsætning, at børnene taler ”flydende dansk”. Vi forventer til gengæld, at der i et vist omfang bliver talt dansk med dem i familien og at de kan forstå dansk på et alderstilsvarende niveau.</p>
                    <h3 class="section-heading">Prøvetimer</h3> 
                    <p>I har mulighed for at komme og prøve at være med to gange, inden I bestemmer jer for, om det er noget for jer og jeres børn. </p>


                </div>
            </div>

        </div>
    </section>

    <section id="historie">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> Historie </h2>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. Oktober 2010</h4>
                                    <h4 class="subheading">Den Danske Skole slår dørene op for det første hold elever.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sabine Jensen har organiseret en sammentræf af nysgerrige forældre. Fra starten var der allerede 35 børn og 3 klasser. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Kort efter…</h4>
                                    <h4 class="subheading">Rigtige klasser i Comenius Skole</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comenius Skolen i Pasing giver husly. Nu har vi rigtige klasseværelser, have med legeplads og en sportsal.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December</h4>
                                    <h4 class="subheading">Jul i danskskolen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nu er det jul igen! Med pebernødder, gamle nissefar, rissengrød og dans rundt om juletræet!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Februar</h4>
                                    <h4 class="subheading">Fastelavn</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Det kender man også i Tyskland. Men slå katten af tønden, det kender de ikke til!</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Juni</h4>
                                    <h4 class="subheading">Sankt Hans</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vi er udenfor, der er bål, vi laver snobrød og griller pølser. Der er mad til alle og mere.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Vær med - 
                                    <br>Vi glæder
                                    <br>os!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
